.article-teaser {
  margin-bottom: 30px;
  .columns {
    padding: 0;
    float: unset !important;
  }

  .right-section {
    box-shadow: $teaser-box-shadow;
    position: relative;
    background: white;
    width: 90%;
    margin: auto;
    margin-top: -10px;
    .right-section__group-header {
      border-bottom: 1px solid $border-color;
      > div {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .group-header__title {
          margin-right: 30px;
          a {
            display: inline-block;
            h3 {
              font-weight: bold;
              margin: 0;
              &:hover {
                color: $menu-color-active;
              }
            }
          }
        }
        .group-header__add-to-wishlist {
          button {
            color: $primary-color;
            width: 40px;
            padding: 5px;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .right-section__group-body {
      .teaser-summary {
        border-bottom: 1px solid $border-color;
      }
      > div {
        padding: 10px;
        .group-body__text {
          padding: 10px;
          background-color: $background-color;
        }
        .paragraph-icon {
          p {
            display: flex;
            align-items: center;

            svg {
              margin-right: 15px;
              font-size: 18px;
            }
          }
        }
        .saznaj-vise {
          text-align: center;

          .saznaj-vise-btn {
            background-color: $primary-color;
            color: white;
            padding: 10px;
            display: inline-block;
            font-size: 14px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .article-teaser {
    display: flex;
    border: 1px solid $border-color;
    background-color: white;
    max-width: unset;
    box-shadow: $teaser-box-shadow;

    .left-section {
      padding: 5px;
      border-right: 1px solid $border-color;
    }

    .right-section {
      box-shadow: unset;
      width: 66.66667%;
      margin: 0;
      margin-top: 0;
      position: unset;
      background: unset;

      .right-section__group-header {
        padding: 5px;

        > div {
          background-color: $background-color;

          .group-header__title {
            a {
              h3 {
                font-size: 16px;
              }
            }
          }
        }
      }

      .right-section__group-body {
        display: flex;

        .teaser-summary {
          border-right: 1px solid $border-color;
          .group-body__text {
            padding: 0;
            background-color: unset;
          }
          border-bottom: unset;
        }

        > div {
          .saznaj-vise {
            text-align: right;
          }
        }
      }
    }
  }
}
