.breadcrumbs {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 15px;
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;

  span {
    font-size: 14px;
  }

  .breadcrumb-delimiter {
    margin-right: 10px;
    margin-left: 10px;
    color: #333;
  }

  .breadcrumb-element {
    color: #333;
    a {
      text-decoration: underline;
      text-decoration-style: dotted;

      &:hover {
        color: $menu-color-active;
      }
    }
  }

  .breadcrumb-element.home {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
  }
}
