$filter-color: #d2d2d2;
$list-hover-color: #f3f3f3;
$filter-text-color: #333;

.react-datepicker-popper {
  z-index: 99999 !important;
  margin-top: 0px !important;
}

#filter--datum[readonly] {
  cursor: pointer;
  background-color: white;
}

.filters__field--lokacija {
  position: relative;

  .searched-lokacija-items.show {
    display: block;
    margin-top: 2px;
  }

  .searched-lokacija-items {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    list-style: none;
    z-index: 99999;
    margin: 0;
    li {
      position: relative;
      padding: 10px;
      border-bottom: 1px solid $filter-color;
      padding-left: 40px;
      opacity: 0.6;
      color: $filter-text-color;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &.is-active {
        opacity: 1;
        background-color: $list-hover-color;
      }

      svg {
        position: absolute;
        color: $filter-color;
        z-index: 1;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
      }
    }
  }
}

.filters-container {
  padding: 0 20px;

  .filter-btn {
    width: 100%;
    outline: none;
  }

  h4 {
    font-size: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    > div {
      position: relative;
      svg {
        position: absolute;
        z-index: 1;
        display: block;
        width: 20px;
        height: 20px;
        transform: translateY(50%);
        left: 10px;
        color: $filter-color;
      }
      input {
        padding-left: 40px;
        border: none !important;
        outline: none;
        border-radius: 3px;
        color: $filter-text-color;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .filters__field--razglas {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 25px;

      /* label {
        margin-right: 20px;
      } */

      select {
        margin: 0;
        width: 100px;
        border: none !important;
        outline: none;
        border-radius: 3px;
        color: $filter-text-color;

        option {
          color: $filter-text-color;
          border: none;
          outline: none;
          padding: 10px;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

@keyframes slideToTop {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@media screen and (max-width: 849px) {
  .filters-container {
    form {
      padding-top: 30px;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      z-index: 20;

      animation-name: slideToTop;
      animation-duration: 0.4s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;

      .form-filters-controls {
        width: 100%;
        max-width: 253px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        button {
          outline: none;
          cursor: pointer;
          svg {
            color: white;
            position: relative;
            position: relative;
            transform: unset;
            display: unset;
            width: unset;
            height: unset;
            left: unset;
            font-size: 25px;
          }
        }
      }

      input.button {
        max-width: 253px;
        width: 100%;
      }

      .filters__field--razglas {
        width: 100%;
        max-width: 253px;
        margin-right: 0;
        label {
          color: white;
        }

        #filter--razglas {
          width: 100%;
        }
      }
    }

    form.close {
      display: none;
    }
  }
}

@media screen and (min-width: 850px) {
  .filters-container {
    margin-bottom: 30px;
    .filter-btn {
      display: none;
    }
    form,
    form.close {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .form-filters-controls {
        display: none;
      }

      > div {
        margin-right: 10px;
      }

      input {
        margin-bottom: 0;
      }
    }
  }
}

.front-page-filters {
  z-index: 1;
  position: relative;
  form {
    > div {
      position: relative;
      svg {
        position: absolute;
        z-index: 1;
        display: block;
        width: 20px;
        height: 20px;
        transform: translateY(50%);
        left: 10px;
        color: $filter-color;
      }
      input {
        padding-left: 40px;
        border: none !important;
        outline: none;
        border-radius: 3px;
        color: $filter-text-color;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
