.filters-container {
  h4 {
    font-size: 16px;
  }

  form {
    .filters__field--lokacija {
      position: relative;

      .filter--lokacija_span {
        position: relative;

        svg {
          position: absolute;
          z-index: 1;
          display: block;
          width: 20px;
          height: 20px;
          transform: translateY(50%);
          left: 10px;
        }
        input {
          padding-left: 40px;
        }
      }
      .searched-lokacija-items.show {
        display: block;
      }

      .searched-lokacija-items {
        display: none;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: white;
        list-style: none;
        z-index: 3;
        margin: 0;
        li {
          padding: 10px;
          border-bottom: 1px solid #333;
        }
      }
    }
  }
}
