.checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.checkbox-wrapper {
  background-color: #fff;
  display: block;
  position: relative;
  max-width: 550px;

  margin-right: 10px;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin: 0;
    font-size: 16px;

    margin-right: 60px;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: "";
      // background-color: $primary-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: "";
      border: 2px solid #d1d7dc;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    // color: #fff;
    color: #3c454c;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #73cc58;
      border-color: #73cc58;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.odabrana-lista {
  margin-bottom: 40px;
  table {
    margin-bottom: 0;
    tbody {
      background-color: transparent;
      tr {
        padding: 20px;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
        background-color: #ffffffe0;
        margin: auto;
        margin-bottom: 20px;
        max-width: 400px;
        td {
          padding: 0;
          color: $body-text-color;
          margin-bottom: 10px;
          a {
            h4 {
              font-weight: bold;
            }
          }

          ul {
            // list-style: none;
            margin-bottom: 0;
            li {
              color: $body-text-color;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
        .wishlist-item-no {
          font-size: x-large;
          margin-bottom: 20px;
          display: inline-block;
        }
        .wishlist-remove-btn {
          display: inline-block;
          float: right;

          button {
            cursor: pointer;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            outline: none;
            color: #333;
          }
        }
      }
    }
  }

  .table-btns {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;

    a {
      margin-right: 20px;
    }
  }
}

.wishlist-page-wrapper {
  .body-text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 63.99875em) {
  .odabrana-lista {
    table {
      box-shadow: 0 0 2px #cfcad0;
      .wishlist-item-no {
        display: none !important;
      }
      thead {
        border: none;
        background: #f1f1f1;
        color: #333;
      }

      tbody {
        tr {
          padding: 0px;
          box-shadow: none;
          background-color: #ffffffe0;
          margin: auto;
          margin-bottom: 0px;
          max-width: unset;
          td {
            padding: 10px;
            margin-bottom: 0;
            a {
              h4 {
                font-weight: normal;
                font-size: 16px;
                margin-bottom: 0;
              }
            }
          }
          .wishlist-remove-btn {
            display: block;
            float: none;

            button {
              cursor: pointer;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: large;
            }
          }
        }
      }
    }

    .table-btns {
      margin-right: 10px;
      justify-content: flex-end;
    }
  }
}

.multiple-contact-form {
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.input-submit {
  input {
    margin-bottom: 0;
  }
}
