.usluge-wrapper {
    background-color: white;
    h1 {
        padding-top: 20px;
    }

    .main-info {
        padding: 20px;
        text-align: center;
    }

    .field-opis {
        padding: 20px;
    }
}