.usluge-nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 1001;
  text-align: center;
  .usluge-nav {
    display: flex;
    border-radius: 3px;
    background-color: $primary-color;
    box-shadow: 0px 0px 7px 0px #404040;
    .usluge-nav-element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-right: 1px solid #457d6c;
      cursor: pointer;
      color: white;
      outline: none;
      &:hover {
        background-color: #457d6c;
      }
      .usluge-nav-element__label {
        display: none;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .usluge-nav-wrapper {
    .usluge-nav {
      .usluge-nav-element {
        .usluge-nav-element__icon {
          margin-right: 10px;
        }
        .usluge-nav-element__label {
          display: inline;
        }
      }
    }
  }
}
