.usluge-nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 5;
  text-align: center;
  .usluge-nav {
    display: inline-block;
    > div {
      display: flex;
      border-radius: 3px;
      background-color: $primary-color;
      box-shadow: 0px 0px 7px 0px #404040;
      .usluge-nav-element {
        a {
          display: inline-block;
          padding: 10px;
          color: white;
          border-right: 1px solid #457d6c;
          &:hover {
              background-color: #457d6c;
          }

          .usluge-nav-element__icon {
            margin-right: 10px;
          }
          .usluge-nav-element__label {
            // display: none;
          }
        }
      }
      .usluge-nav-element.add-to-wishlist {
        a {
          .usluge-nav-element__icon {
            margin-right: 0px;
            border-right: none;
          }
        }
      }
    }
  }
}
