$primary-color: rgb(0, 105, 85); // #006955
$background-color: rgb(250, 236, 207); // #faeccf
$body-text-color: #333;
$border-color: #ddd;

$menu-color-active: #d69937;
$teaser-box-shadow: 0px 0px 6px 0px rgba(204,204,204,1);

$main-breakpoint: 850px;